apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: number-game-stable-pdb
  namespace: number-game
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: number-guessing-game
      version: stable
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: number-game-canary-pdb
  namespace: number-game
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: number-guessing-game
      version: canary
